.popup {
  background-color: rgba(0, 0, 0, .5);
  height: 100%;
  opacity: 1;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  transition: visibility 0.3s ease, opacity 0.3s ease-in-out;
  z-index: 3;
}