.popup__input {
  margin: 30px auto 0;
  width: 100%;
  min-height: 27px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: none;
  border-bottom: 1px solid #00000033;
  outline: none;
  vertical-align: text-top;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width:598px) {
  .profile {
    max-width: 282px;
    margin: 42px auto 0;
    justify-content: center;
  }
}