.popup__container {
  position: relative;
  display: flex;
  width: 430px;
  box-sizing: border-box;
  padding: 34px 36px 37px;
  flex-direction: column;
  justify-content: space-between;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px; 
}

@media screen and (max-width:598px) {
  .popup__container {
    width: 282px;
    padding: 25px 22px;
  }
}
