.popup__button {
  width: 100%;
  height: 50px;
  margin: 48px auto 0;
  background: #000000;
  border: none;
  border-radius: 2px;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  transition: ease-out 0.5s;
  outline: none;
}

.popup__button:hover {
  background: rgba(0, 0, 0, 0.8);
  transition: ease-out 0.5s;
}

@media screen and (max-width: 598px) {
  .popup__button {
    margin: 45px auto 0;
    font-size: 14px;
    height: 46px;
  }
}