.profile__button_add {
  margin: auto 0 auto auto;
  background-image: url(../../../../images/add-button.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 150px;
  height: 50px;
  justify-self: end;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
}

@media screen and (max-width:528px) {
  .profile__button_add {
    width: 100%;
    margin: 36px auto 0;
    justify-self: center;
  }
}