@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__logo/header__logo-link.css);
@import url(../blocks/header/__line/header__line.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__username/profile__username.css);
@import url(../blocks/profile/__position/profile__position.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__button/profile__button.css);
@import url(../blocks/profile/__button/_edit/profile__button_edit.css);
@import url(../blocks/profile/__button/_add/profile__button_add.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/elements/__place/elements__place.css);
@import url(../blocks/elements/__place/__footer/place__footer.css);
@import url(../blocks/elements/__place/__image/place__image.css);
@import url(../blocks/elements/__place/__like-button/place__like-button.css);
@import url(../blocks/elements/__place/__like-button/_enable/place__like-button_enable.css);
@import url(../blocks/elements/__place/__like-button/_disable/place__like-button_disable.css);
@import url(../blocks/elements/__place/__title/place__title.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__button/popup__button.css);
@import url(../blocks/popup/__button/popup__close-button.css);
