.popup__title {
  margin: 0 0 54px;
  padding: 0;
  color: black;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
}
  
  @media screen and (max-width: 598px) {
    .popup__title {
      margin: 0 0 75px;
      font-size: 18px;
      line-height: 22px;
    }
  }
}